/*==================================================================================== 
    Author: Alex Satoru Hanrahan
    Created: 26/11/19
    Last Edited: 26/11/19
=====================================================================================*/

/* About Me Section */
#aboutMe{
    // position: relative;
    height: 100vh;
    background: rgba(43, 43, 43, 0.87); 
}