/*==================================================================================== 
    Author: Alex Satoru Hanrahan
    Created: 03/11/19
    Last Edited: 06/11/19
=====================================================================================*/

$secondary-color: #f09865;

/* Widescreens */
@include mediaXl {
    //home section
    #home{
        .lg-heading{
            font-size: 4rem; 
        }
    }
    #projectsBtn{
        margin-top: 2rem;
    }

    //projects section
    #projects{
        #projectCards{
            margin-left: 10rem;
            margin-right: 12rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    //about me section
    #aboutMe{
        .sm-heading {
            top: 0.5rem;
            right: 17rem;
        }
        #content{
            #bio1{
                height: 7rem;
                margin-top: 6rem;
                margin-right: 8rem;
                margin-left: 5rem;
                padding-right: 2rem;
                padding-left: 2rem;
            }
            #bio2{
                height: 6rem;
                margin-right: 8rem;
                margin-left: 5rem;
                padding-right: 2rem;
                padding-left: 2rem;
            }
            #bio3{
                margin-left: 6rem;
                margin-top: 1rem;
            }
        }
    }

    //overlay menu
    #menu-overlay{
        position: absolute;
        visibility: hidden;
    }
}

/* Desktops & Laptops */
@include mediaLg {
    //home section
    #home{
        .lg-heading{
            font-size: 4rem; 
        }
    }
    #projectsBtn{
        margin-top: 2rem;
    }

    //projects section
    #projects{
        #projectCards{
            margin-left: 10rem;
            margin-right: 12rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    #menu-overlay{
        position: absolute;
        visibility: hidden;
    }

    //about me section
    #aboutMe{
        #content{
            width: 100vw;
            .sm-heading {
                right: auto;
                left: 45vw;
                margin: auto;
            }
            #portrait-sml{
                display: block;
            }
        }
        #portrait-lrg{
            display: none;
            height: 0;
        }
    }

    //contact section
    // #contact{
    //     #contactInfo{
    //         margin-left: 2rem;
    //         margin-right: 2rem;
    //     }
    // }
}

/* Tablets & Small Laptops */
@include mediaMd {
    //home section
    #home{
        padding-left: 0;
        .lg-heading{
            font-size: 2rem; 
        }
        #projectsBtn{
            background: rgba(43, 43, 43, 0.87);
            border: $secondary-color 2px solid;
            margin-top: 2rem;
            i{
                transform: rotate(90deg) translate(1px, 2px);
            }
        }
    }
    main {
        // padding-right: 4rem;
        align-items: center;
        text-align: center;
    }

    //projects section
    #projects{
        #projectCards{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 1rem;
        }
        .card{
            div{
                border: $secondary-color 1px solid;
                background: rgba(43, 43, 43, 0.87); 
            }
        }
        .sm-heading {
            &.not-visible{
                transform: translate3d(-300px, 0, 0);
            }
        }
    }

    //about me section
    #aboutMe{
        #content{
            width: 100vw;
            align-content: center;
            position: relative;
            padding-bottom: 1rem;
            .sm-heading {
                padding-top: 1rem;
                position: relative;
                right: 0;
                left: 0;
            }
            #bio1{
                margin-top: 1rem;
                margin-right: 5rem;
                margin-left: 4rem;
            }
            #bio2{
                margin-right: 5rem;
                margin-left: 4rem;
            }
            #bio3{
                margin-left: auto;
                margin-right: auto;
                span{
                    display: block;
                }
            }
            .qualTitle{
                margin-top: 2rem;
            }
        }
        #portrait-lrg{
            display: none;
            height: 0;
        }
    }

    //contact section
    #contact{
        #contactInfo{
            margin-top: 0;
            padding-bottom: 4rem;
        }
    }

    //Menu
    .menu{
        position: absolute;
        visibility: hidden;
    }
}

/* Smartphones */
@include mediaSm{
    //home section
    #home{
        padding-left: 0;
        .lg-heading{
            font-size: 2rem; 
        }
        #projectsBtn{
            background: rgba(43, 43, 43, 0.87);
            border: $secondary-color 2px solid;
            margin-top: 2rem;
            i{
                transform: rotate(90deg) translate(1px, 2px);
            }
        }
    }
    main {
        // padding-right: 4rem;
        align-items: center;
        text-align: center;
    }

    //projects section
    #projects{
        #projectCards{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 1rem;
        }
        .card{
            div{
                border: $secondary-color 1px solid;
                background: rgba(43, 43, 43, 0.87); 
            }
        }
        .sm-heading {
            font-size: 2rem;
            &.not-visible{
                transform: translate3d(-200px, 0, 0);
            }
        }
        .underline{
            width: 10rem;
            &.not-visible{
                transform: translate3d(100px, 0, 0);
            }
        }
    }
    
    //about me section
    #aboutMe{
        #content{
            width: 100vw;
            align-content: center;
            position: relative;
            padding-bottom: 1rem;
            .sm-heading {
                position: relative;
                right: 0;
                left: 0;
                font-size: 2rem; 
                padding-top: 1rem;
            }
            #bio1{
                margin-top: 1rem;
                margin-right: 5rem;
                margin-left: 4rem;
                height: fit-content;
            }
            #bio2{
                margin-right: 5rem;
                margin-left: 4rem;
                height: fit-content;
            }
            #bio3{
                margin-left: auto;
                margin-right: auto;
                max-width: 17rem; 
                span{
                    display: block;
                }
            }
            .qualTitle{
                margin-top: 2rem;
            }
        }
        #portrait-lrg{
            display: none;
            height: 0;
        }
    }

    #contact{
        #contactBackground{
            height: 30vh;
            background: url(../img/contact-background.jpg);
            &:after {
                height: 30vh;
            }
            p{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
        #contactDescription{
            margin-top: 7rem;
        }
        .sm-heading{
            font-size: 2rem;
        }
        #contactInfo{
            margin-top: 0;
        }
    }

    //Menu
    .menu{
        position: absolute;
        visibility: hidden;
    }
}


