/*==================================================================================== 
    Author: Alex Satoru Hanrahan
    Created: 06/11/19
    Last Edited: 06/11/19
=====================================================================================*/

/* Projects Section */
#projects{
    height: 200vh;
    background: #fff;
    padding-top: 1.7rem;
    position: relative;
    .sm-heading {
        margin: auto;
        width: fit-content;
        font-weight: 500; 
        font-size: 3rem; 
        color: rgba(43, 43, 43, 0.87); 
        transition: all 0.8s 0.1s ease-out;
        will-change: transform opacity;
        &.not-visible{
            opacity: 0.25;
            transform: translate3d(-400px, 0, 0);
        }
    }
    .underline{
        margin: auto;
        // width: fit-content;
        width: 13rem;
        height: 0.5vh;
        background: rgba(43, 43, 43, 0.87);
        // opacity: 0.25;
        // transform: translate3d(300px, 0, 0);
        transition: all 0.8s 0.1s ease-out;
        // will-change: transform opacity;
        &.not-visible{
            opacity: 0.25;
            transform: translate3d(300px, 0, 0);
        }
    }
    #projectCards{
        margin-left: 10rem;
        margin-right: 10rem;
        padding-top: 5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 1rem;
    }
    .card{
        margin: auto;
        height: 20rem;
        width: 15rem;
        background: rgba(43, 43, 43, 0.87); 
    }
}