/*==================================================================================== 
    Author: Alex Satoru Hanrahan
    Created: 06/11/19
    Last Edited: 06/11/19
=====================================================================================*/

$secondary-color: #f09865;

/* Projects Section */
#projects{
    min-height: 100vh;
    background: #fff;
    padding-top: 1.7rem;
    position: relative;
    .sm-heading {
        margin: auto;
        width: fit-content;
        font-weight: 500; 
        font-size: 3rem; 
        color: rgba(43, 43, 43, 0.87); 
        transition: all 0.8s 0.1s ease-out;
        will-change: transform opacity;
        &.not-visible{
            opacity: 0.25;
            transform: translate3d(-400px, 0, 0);
        }
    }
    .underline{
        margin: auto;
        width: 13rem;
        height: 0.5vh;
        background: rgba(43, 43, 43, 0.87);
        transition: all 0.8s 0.1s ease-out;
        &.not-visible{
            opacity: 0.25;
            transform: translate3d(300px, 0, 0);
        }
    }
    #projectCards{
        margin-left: 10rem;
        margin-right: 10rem;
        padding-top: 5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .card{
        margin: auto;
        height: 20rem;
        width: 15rem;
        background: rgba(43, 43, 43, 0.87); 
        text-align: center;
        align-content: center;
        color: #fff;
        p{
            margin-top: 0.7rem;
            margin-bottom: 0.7rem;
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 500;
        }
        img{
            height: 10rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        div{
            border: #fff 1px solid;
            width: 72%;
            margin: auto;
            margin-top: 0.6rem;
            align-items: center;
            justify-content: center;
            svg{
                height: 1.1rem;
            }
        }
        div:hover{
            border: $secondary-color 1px solid;
            background: rgba(43, 43, 43, 0.87); 
        }
    }
    .card:hover{
        background: rgba(59, 59, 59, 0.87); 
        transition: all 0.2s ease-out;
    }
}