/*==================================================================================== 
    Author: Alex Satoru Hanrahan
    Created: 03/11/19
    Last Edited: 06/11/19
=====================================================================================*/

$secondary-color: #f09865;

@import 'config';
@import 'home';
@import 'projects';
@import 'aboutMe';
@import 'menu-overlay';
@import 'mobile';

html{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
}

/* Headings */
h1, h2, h3 {
    margin: 0;
    font-weight: 400; 
}

/* Body */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5; 
    overflow-x: hidden;
    width: 100vw;
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;

    
}

/* Language Button */
#languageBtn{
    position: fixed;
    // display: inline-block;
    right: 1.3rem;
    top: 6rem;
    z-index: 3;
    width: fit-content;
    border: #fff 2px solid;
    color: #fff;
    background: rgba(43, 43, 43, 0.87);
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 2px;
    transition: opacity 0.3s 0.15s ease-out;
    #engBtn{
        float: left;
        width: 3rem;
        text-align: center;
        margin: 0;
        padding: 4px;
    }
    #jpnBtn{
        float: right;
        width: 3rem;
        text-align: center;
        margin: 0;
        padding: 4px;
    }
    #lngSwitch{
        position: absolute;
        border: #fff 1px solid;
        border-radius: 3px;
        background: rgba(73, 73, 73, 0.5); 
        height: 1.7rem;
        width: 3.3rem;
        z-index: -1;
        transition: margin-left 0.3s ease-out;
        &.japanese{
            margin-left: 3.58rem;
            transition: margin-left 0.3s ease-out;
        }
    }
    &.close{
        visibility: hidden;
        opacity: 0;
    }
    &.dark{
        background: #fff;
        border: rgba(43, 43, 43, 0.87) 2px solid;
        color: #444;
        // #englishBtn{
        //     color: #fff;
        //     border: rgba(43, 43, 43, 0.7) 2px solid;
        // }
        transition: opacity 0.3s 0.15s ease-out;
    }
}

/* Menu button */
.menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    .btn-line {
        width: 28px;
        height: 2px;
        margin: 0 0 5px 0;
        background: #fff;
        transition: all 0.2s ease-out;
        //Change color on scroll
        &.dark{
            background: #444;
        }
    }
    // Rotate Into X With Menu Lines
    &.open {
        // transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 3px);
            }
            // Line 2 - Hide
            &:nth-child(2){
                opacity: 0;    
            }
            // Line 3 - Rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -5px);
            }
        }
    }
}

/* Menu */
.menu{
    position: fixed;
    width: 10rem;
    height: 10rem;
    right: 0px;
    // top: 19rem;
    bottom: 10rem;
    // display: inline-block;
    color: #fff;
    ul{
        position: absolute;
        padding-left: 0px;
        right: 0;
        left: 0;
        list-style-type: none;
        li{
            transition: all 0.3s ease-out;
            margin-top: 1.5rem;
            padding-left: 41px;
            &.current, &.current:hover{
                transition: all 0.3s ease-out;
                padding-left: 20px;
                font-weight: 500;
            }
            &.dark{
                color: #444;
            }
            &.close{
                // transition: all 0.1s ease-out;
                padding-left: 80px;
                visibility: hidden;
                // width: 0;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
            &:hover{
                transition: all 0.3s ease-out;
                padding-left: 35px;
                font-weight: 500;
            }
            &:hover + .link-line {
                width: 125px;
                transition: all 0.3s ease-out;
            }
            &.current:hover + .link-line {
                width: 140px;
                transition: all 0.3s ease-out;
            }
        }
        .link-line{
            position: absolute;
            right: 0;
            width: 120px;
            height: 1px;
            background: #fff;
            transition: all 0.3s ease-out;
            &.current {
                width: 140px;
                transition: all 0.3s ease-out;
            }
            &.dark{
                background: #444;
                transition: all 0.3s ease-out;
            }
            &.close{
                width: 0;
                transition: all 0.3s ease-out;
                width: 0;
            }
        }
    }
}

@import 'mobile';